.ukagaka a{
    color: #9a3535;
    font-size: 11px;
    margin-left: -4px;
}

.ukagaka .main {
    background: #000;
}

.ukagaka {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    width: 280px;
    height: 146px;
    user-select: none;
}

.ukagaka .tips {
    flex: 1;
    background: linear-gradient(#ffe1e1, #fffffb);
    border: 1px solid #e87a73;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    color: #9a3535
}

.ukagaka .tips:hover {
    user-select: text;
}

.ukagaka .icon {
    width: 0;
    height: 0;
    border-top: 12px solid #e87a73;
    border-left: 12px solid transparent;
    position: relative;
    right: 30px;
    top: 72px
}

.ukagaka .icon:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid #fffffb;
    border-left: 12px solid transparent;
    position: absolute;
    right: 1px;
    top: -14px
}

.ukagaka .face {
    width: 85px;
    height: 146px;
}

.ukagaka:hover .close{
    display: block;
}

.ukagaka .face1 {
    background: url(face1.gif);
}

.ukagaka .face2 {
    background: url(face2.gif);
}

.ukagaka .face3 {
    background: url(face3.gif);
}

.ukagaka .close {
    display: none;
    color: #e87a73;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    right: 0px;
    margin-right: -10px;
    cursor: pointer;
}

.call {
	font-size: 12px;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(#ffe1e1, #fffffb);
    border: 1px solid #e87a73;
    color: #9a3535;
    padding: 2px 15px;
    cursor: pointer;
}

.ukagaka .menu {
    font-size: 10px;
    position: absolute;
    bottom: 82px;
    right: 107px;
    color: #e87a73;
    cursor: pointer;
}

.ukagaka .tips li{
    width: 60px;
    float: left;
    color: #6b9cdb;
    margin-left:18px;
}

.ukagaka li{
    list-style-type:circle;
}